[submodule "theme"]
	path = theme
	url = https://github.com/nate-johnston/hugo-eureka.git
[submodule "themes/hugo-eureka"]
	path = themes/hugo-eureka
	url = https://github.com/nate-johnston/hugo-eureka.git
