.h {
	font-family: Arial; font-size:8pt;
	}
.hs {
	font-family: Arial;
	font-size:6pt;
	border-top-width:1px;
	border-top: 1pt solid black;
	vertical-align:top;
	background: #CCCCCC;
	}
.ah { 
	font-family: Arial; 
	font-size:4pt; 
	text-align:center;
	}
.hp {
	font-family: Arial; 
	font-size:9pt; 
	text-align:center; 
	color:white; 
	background:black; 
	font-weight:bold; 
	}
.hp6 {
	font-family: Arial; 
	font-size:6pt; 
	text-align:center; 
	color:white; 
	background:black; 
	font-weight:bold; 
	}
.cap {
	font-size:5pt; 
	font-weight:normal; 
	}
.ab { 
	font-family: Arial; 
	font-size:10pt; 
	text-align:center; 
	color:white; 
	background:black; 
	}
.sc { 
	font-family: Arial; 
	font-size: 5pt 
	}
.scr { 
	font-family: Arial; 
	font-size: 5pt; 
	text-align:right 
	}
.scbr { 
	font-family: Arial; 
	font-size: 5pt;	
	border-right-width:1px; 
	border-right: 1pt solid black; 
	text-align:right
	}
.hph { 
	font-family: Arial; 
	font-size: 7pt;	
	text-align:center; 
	vertical-align:bottom;
	}
.ach { 
	font-family: Arial; 
	font-size: 7pt;	
	text-align:center; 
	vertical-align:middle;
	}
.acb { 
	font-family: Arial; 
	font-size: 9pt; 
	font-weight:bold; 
	text-align:center; 
	vertical-align:middle; 
	border: 1px solid black;
	}
.hphs { 
	font-family: Arial; 
	font-size: 5pt;	
	text-align:center; 
	vertical-align:bottom;
	}
.hpb { 
	font-family: Arial; 
	font-size: 9pt; 
	font-weight:bold; 
	text-align:center; 
	vertical-align:middle; 
	border: 1px solid black;
	}
.hpbb { 
	font-family: Arial; 
	font-size: 9pt; 
	font-weight:bold; 
	color:white; 
	background:black; 
	text-align:center; 
	vertical-align:middle; 
	border: 1px solid black;
	}
.abb { 
	font-family: Arial; 
	font-size:10pt; 
	text-align:center; 
	font-weight:bold; 
	border: 1px solid black;
	}
.abt { 
	font-family: Arial; 
	font-size:10pt; 
	text-align:center; 
	font-weight:bold; 
	border: 5px solid darkgrey;
	}
.invent { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:right;
	font-size:8pt;
	}
.attack { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:center;
	font-size:8pt;
	font-weight:bold; 
	}
.tab { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:center;
	font-size:8pt;
	}
.spell { 
	font-family: Arial; 
	vertical-align:center;
	text-align:center;
	font-size:6pt;
	}
.spellinfo { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:center;
	font-size:4pt;
	}
.spellslot {
    font-family: Arial;
    vertical-align:top;
    border: 1px solid black;
    text-align:center;
    font-size:6pt;
    background:white;
    color:black;
    }
.name { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:left;
	font-size:8pt;
	}
.sptab { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:center;
	font-size:8pt;
	}
.spname { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:left;
	font-size:8pt;
	}
.frname { 
	font-family: new century schoolbook; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:left;
	font-size:8pt;
	}
.god { 
	font-family: Arial; 
	vertical-align:top;
	text-align:left;
	font-size:8pt;
	}
.nothing { 
	vertical-align: center;
	text-align: right;
	border: 0px; 
	}
.sptop { 
	font-family: Arial; 
	vertical-align:top;
	border: 1px solid black; 
	text-align:center;
	font-size:8pt; 
	color:white;
	}
.splevel {  
	font-family: Arial; 
	background:black; 
	text-align:center;
	font-size:9pt; 
	color:white;
	}
.sphead {  
	font-family: Arial; 
	background:black; 
	text-align:center;
	font-size:12pt; 
	color:white;
	}
.spcomp { 
	font-family: Arial; 
	vertical-align:top; 
	text-align:left;
	font-size:6pt;
	}
.spch { 
	font-family:Wingdings; 
	vertical-align:top; 
	text-align:right;
	font-size:7pt;
	}
.spch2 { 
	font-family:Wingdings; 
	vertical-align:top; 
	text-align:right;
	font-size:5pt;
	}
.spcomp2 { 
	font-family: Arial; 
	vertical-align:top; 
	text-align:left;
	font-size:5pt;
	}
.spch3 { 
	font-family:Wingdings; 
	vertical-align:top; 
	text-align:right;
	font-size:9pt;
	}
.spcomp3 { 
	font-family: Arial; 
	vertical-align:top; 
	text-align:left;
	font-size:9pt;
	}
.topline {
	border-top-width:1px;
	border-top: 1pt solid black;

	}
.skills {
	font-size:8pt;
	font-family: Arial;
	text-align: left;
	vertical-align:top;
	border: 1px solid black;
	}
.topline6 {
	border-top-width:1px;
	border-top: 1pt solid black;
	font-size:6pt;
	}
.heading4 {
	text-align:center;
	font-size:4pt;
	}
.border {
	border: 1px solid black;
	}
.border4 {
	border: 1px solid black;
	font-size:4pt;
	text-align: center;
	}
.border9 {
	border: 1px solid black;
	font-size:9pt;
	}
.border9b {
	border: 1px solid black;
	font-size:9pt;
	text-align: center;
	font-weight:bold; 
	}
.border9c {
	border: 1px solid black;
	font-size:9pt;
	text-align: center;
	}
.border10 {
	border: 1px solid black;
	font-size:10pt;
	}
.border10b {
	border: 1px solid black;
	text-align: center;
	font-weight:bold; 
	font-size:10pt;
	}
.tempborder {
	font-size:6pt;
	border: 5px solid darkgrey;
	}
.borderbottom {
	border-bottom-width:1px;
	border-bottom: 1pt solid black;
	font-size:14pt;
	}
.c, .wbc {
	text-align: center;
	}
TD {
	font-family: Arial;
	}
IMG {
	border-width: 0;
	}
.font10b {
	font-size:10pt;
	font-family: Arial;
	text-align: center;
	font-weight:bold; 
	}
.font4 {
	font-size:4pt;
	font-family: Arial;
	}
.font4c {
	font-size:4pt;
	font-family: Arial;
	text-align: center;
	}
.font9 {
	font-size:9pt;
	font-family: Arial;
	}
.font8 {
	font-size:8pt;
	font-family: Arial;
	}
.font8l {
	font-size:8pt;
	font-family: Arial;
	text-align: left;
	}
.font8b {
	font-size:8pt;
	font-family: Arial;
	text-align: center;
	vertical-align:bottom;
	font-weight:bold; 
	}
.font4lb {
	font-size:4pt;
	font-family: Arial;
	text-align: left;
	vertical-align:top;
	border: 1px solid black;
	}
.font8bot {
	font-size:8pt;
	font-family: Arial;
	text-align: center;
	vertical-align:bottom;
	border-bottom-width:1px;
	border-bottom: 1pt solid black;
	}
.font7 {
	font-size:7pt;
	font-family: Arial;
	text-align: center;
	}
.font7b {
	font-size:7pt;
	text-align: center;
	font-family: Arial;
	font-weight:bold; 
	}
.center5 {
	text-align: center;
	font-size:5pt;
	}
.center7 {
	text-align: center;
	font-size:7pt;
	}
.center8 {
	text-align: center;
	font-size:8pt;
	}
.mini6 {
	font-size:6pt;
	text-align: center;
	vertical-align:top;
	}
.sxbox { 
	font-family: Arial; 
	vertical-align:top;
	border: 3px solid black; 
	text-align:center;
	font-size:8pt;
	font-weight:bold; 
	}
.imgdiv2 {
	float: right; 
	border: 0px;
	text-align:center;
	font-size:8pt;
	font-weight:bold;
	vertical-align:top;
	}
.imgdiv {
	float: right; 
	border: 1px solid black;
	text-align:center;
	font-size:8pt;
	font-weight:bold;
	vertical-align:top;
	}
TD {
	}
IMG {
	border-width: 0;
	}
